<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #0f0f0f;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: left;

    }
    
    li a:hover:not(.active) {
      background-color: #f00ff0;
    }
    </style>

<div class ="navbar">
    <ul>
        <li><a href="#test">Test</a></li>
        <li><a href="#template">Template</a></li>
        <li><a href="https://github.com/alexander-e-andrews/Go-template-precompile">github</a></li>
      </ul>
</div>